.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  
  span {
    font-size: 18px;
    color: #b9b9b9;
    font-weight: 500;
  }

  @media screen and (max-width: 690px) {
    justify-content: center;
    flex-direction: column;

    span {
      font-size: 16px;
    }

    .filters_container {
      margin-top: 15px;
    }
  }
}

.filters_container {
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    color: rgba(255, 21, 16, 0.6);

    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
  }
}

.order_by {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }
}

.only_fav {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }
}

.toggle {
  margin: 0 20px;
  cursor: pointer;
}

