.container {
  height: 60px;
  width: 85%;
  max-width: 880px;
  border-radius: 30px;
  background-color: rgba(255, 21, 16, 0.1);
  padding: 0 30px;
  display: flex;

  cursor: text;
}

.search_input {
  padding-left: 40px;
  padding-right: 20px;
  width: calc(100% - 69px);
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: var(--primary);

  &::placeholder {
    color: rgba(255, 21, 16, 0.6);
  }
}

@media screen and (max-width: 500px) {
  .container {
    height: 55px;
  }

  .search_input {
    padding-left: 20px;
    width: calc(100% - 49px);
    font-size: 16px;
  }
}