.loading {
  border-style: solid;
  border-color: #e4e5e9;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.small {
  border-width: 3px;
  width: 35px;
  height: 35px;
}

.large {
  border-width: 6px;
  width: 55px;
  height: 55px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}