.toggle_container {
  border: none;
  cursor: pointer;
  background-color: #e4e5e9;
  width: 75px;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.toggle_circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--primary);
  box-shadow: 0 4px 6px rgb(255 21 16 / 60%);
  transition: margin 0.3s;
  transition-timing-function: ease-in-out;
}

